@charset "UTF-8";

#wrap{
	width: 1000px;
	margin: 0 auto;
}

table{
	margin: 0 auto;
	text-align: center;
}

td:first-child{
	width: 100px;
}

td:nth-child(2){
	width: 200px;
}

td:nth-child(4){
	width: 300px;
}

#number{
	display: block;
	margin-top: 20px;
	text-align: center;
}